.root {
    -acepe-fritz-red: #e80007;
    -acepe-fritz-yellow: #FED400;
    -acepe-fritz-yellow-bright: #FEED00;
    -acepe-fritz-yellow-dark: #FEED00;

    -fx-base: -acepe-fritz-yellow;
    -fx-background: white;
}

.spaced {
    -fx-spacing: 10;
}

.bordered {
    -fx-padding: 10;
}

.content-pane {
    -fx-background-color: -acepe-fritz-yellow;
    -fx-padding: 8;
    -fx-spacing: 10;
}

.grid {
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 10;
}

.scroll-pane {
    -fx-background-color: -acepe-fritz-yellow-bright;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.list-view > .virtual-flow > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -acepe-fritz-yellow-bright;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #D4AB00;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.square-button {
    -fx-min-height: 50;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.day-button {
    -fx-padding: 5;
    -fx-background-color: -acepe-fritz-red;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.day-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.day-button:disabled {
    -fx-background-image: url("rolling.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.day-button:selected {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -15%);
    -fx-background-insets: 0, 2
}

.settings-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
    -fx-padding: 10;
}

.settings-button {
    -fx-padding: 10;
    -fx-background-color: -acepe-fritz-yellow;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.settings-button > .glyph-icon {
    -fx-fill: rgba(0, 0, 0, 0.4);
}

.settings-button:hover {
    -fx-background-color: derive(-acepe-fritz-yellow, +30%);
}

.settings-button:pressed {
    -fx-background-color: derive(-acepe-fritz-yellow, -10%);
}

.image-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.back-button {
    -fx-padding: 2;
    -fx-font-size: 16px;
}

.back-button > .glyph-icon {
    -fx-fill: rgba(0, 0, 0, 0.4);
}

.back-button:hover > .glyph-icon {
    -fx-fill: rgba(0, 0, 0, 0.6);
}

.back-button:pressed > .glyph-icon {
    -fx-fill: rgba(0, 0, 0, 0.6);
}

.playlist-button {
    -fx-min-height: 35;
    -fx-padding: 8;
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -10%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.download-button {
    -fx-min-height: 35;
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -10%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.download-button > .label {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-color: derive(-acepe-fritz-red, -10%);
    -fx-padding: 3;
}

.download-button > .arrow-button {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -10%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em; /* 6 8 6 8 */
}

.download-button > .arrow-button, file_combo_box > .arrow {
    -fx-mark-color: white;
}

.download-button > .label > .glyph-icon {
    -fx-fill: white;
}

.download-button > .glyph-icon {
    -fx-fill: white;
}

.download-button:hover, .playlist-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.download-button:pressed {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -5%);
    -fx-background-insets: 0, 2;
}

.player-control-button {
    -fx-min-height: 35;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-padding: 8;
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -10%);
    -fx-background-insets: 0, 1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.player-control-button > .glyph-icon {
    -fx-fill: white;
}

.player-control-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.player-control-button:pressed {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -5%);
    -fx-background-insets: 0, 2;
}

.player-time-label {
    -fx-text-fill: white;
}

.file-combo-box {
    -fx-padding: 3;
    -fx-background-radius: 1;
}

.file-combo-box > .list-cell {
    -fx-font-size: 14px;
}

.file-combo-box .list-view .list-cell {
    -fx-background-color: -acepe-fritz-yellow;
    -fx-font-size: 14px;
    -fx-padding: 8;
}

.file-combo-box .list-view .list-cell:hover {
    -fx-text-fill: -acepe-fritz-red;
}

.file-combo-box .list-view .list-cell:focused {
    -fx-text-fill: -acepe-fritz-red;
}

.file-combo-box:focused {
    -fx-background-color: -acepe-fritz-yellow;
}

.file-combo-box > .arrow-button, file_combo_box > .arrow {
    -fx-mark-color: -acepe-fritz-red;
}

.download-progress {
}

.download-progress > .bar {
    -fx-background-color: #ffffff80;
    -fx-background-insets: 0, 3, 0, 13;
}

.download-progress > .track {
    -fx-background-color: transparent;
}

.stream {
    -fx-background-color: -acepe-fritz-yellow;
}

.description {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: -acepe-fritz-red;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.playlist-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0, 0, 0, 0.8);
    -fx-padding: 10;
}

.playlist-stream-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -acepe-fritz-red;
    -fx-padding: 10;
}

.playlistlistview {
    -fx-background-color: transparent;
}

.playlistlistview .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.playlistlistview .list-cell:selected,
.playlistlistview .list-cell:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -acepe-fritz-red;
    -fx-font-size: 14px;
}

.playlistlistview .scroll-bar:horizontal .track,
.playlistlistview .scroll-bar:vertical .track {
    -fx-background-color: -acepe-fritz-yellow;
}

.playlistlistview .scroll-bar:horizontal .thumb,
.playlistlistview .scroll-bar:vertical .thumb {
    -fx-background-color: #D4AB00;
}

.result-label {
    -fx-text-fill: gray;
    -fx-min-height: 30;
    -fx-pref-height: 30;
}

.audio-item-artist {
    -fx-font-size: 14px;
    -fx-text-fill: -acepe-fritz-red;
    -fx-font-weight: bold;
}

.audio-item-title {
    -fx-font-size: 14px;
    -fx-text-fill: -acepe-fritz-red;
}

.audio-item-duration {
    -fx-font-size: 12px;
    -fx-text-fill: gray;
}

.download-item-button {
    -fx-padding: 10;
    -fx-background-color: -acepe-fritz-yellow;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.download-item-button > .glyph-icon {
    -fx-fill: rgba(0, 0, 0, 0.4);
}

.download-item-button:hover {
    -fx-background-color: derive(-acepe-fritz-yellow, +30%);
}

.download-item-button:pressed {
    -fx-background-color: derive(-acepe-fritz-yellow, -10%);
}

