.root {
    -acepe-fritz-red: #e80007;
    -acepe-fritz-yellow: #FED400;
    -acepe-fritz-yellow-bright: #FEED00;
    -acepe-fritz-yellow-dark: #FEED00;

    -fx-background: white;
    -fx-background-color: -acepe-fritz-yellow-bright;
}

.spaced {
    -fx-spacing: 10;
}

.bordered {
    -fx-padding: 10;
}

.content-pane{
   -fx-background-color: -acepe-fritz-yellow;
   -fx-padding: 8;
   -fx-spacing: 10;
}

.days{
    -fx-background-color: -acepe-fritz-yellow;
    -fx-graphic-fixed-size: 2.5em;
    -fx-padding: 8;
    -fx-spacing: 10;
}

.square-button{
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}


.back-button{
    -fx-pref-height: 50;
}

.day-button {
    -fx-padding: 10;
    -fx-background-color: -acepe-fritz-red;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.day-button:hover {
    -fx-background-color: derive(-acepe-fritz-red, -10%);
}

.day-button:disabled {
    -fx-background-image: url("rolling.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.day-button:selected {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -15%);
    -fx-background-insets: 0, 2
}

.settings-title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.8);
    -fx-padding: 10;
    -fx-pref-height: 50;
}

.settings-button {
    -fx-padding: 10;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-color: -acepe-fritz-yellow;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.settings-button > .glyph-icon {
    -fx-fill: rgba(0,0,0,0.4);
}

.settings-button:hover {
    -fx-background-color: derive(-acepe-fritz-yellow, +30%);
}

.grid {
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 10;
}

.download-button {
    -fx-padding: 8;
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -10%);
    -fx-background-insets: 0, 1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.download-button > .glyph-icon {
    -fx-fill: white;
}

.download-button:hover {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -8%);
    -fx-background-insets: 0, 2;
}

.download-button:pressed {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -5%);
    -fx-background-insets: 0, 2;
}

.download-progress {
}

.download-progress > .bar {
  -fx-background-color: #ffffff80;
  -fx-background-insets: 0,3,0,13;
}

.download-progress > .track {
  -fx-background-color: transparent;

}

.stream {
    -fx-background-color: -acepe-fritz-yellow;
}

.description {
    -fx-background-color: rgba(0,0,0,0.6);
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: -acepe-fritz-red;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.scroll-pane {
     -fx-background-color: -acepe-fritz-yellow-bright;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
