.root {
    -acepe-fritz-red: #e80007;
    -acepe-fritz-yellow: #FED400;
    -acepe-fritz-yellow-bright: #FEED00;
    -acepe-fritz-yellow-dark: #FEED00;

    -fx-background: white;
    -fx-background-color: -acepe-fritz-yellow-bright;
}

.spaced {
    -fx-spacing: 10;
}

.bordered {
    -fx-padding: 10;
}

.content-pane{
   -fx-background-color: -acepe-fritz-yellow;
   -fx-padding: 8;
   -fx-spacing: 10;
}


.grid {
    -fx-padding: 10;
    -fx-hgap: 5;
    -fx-vgap: 10;
}

.scroll-pane {
     -fx-background-color: -acepe-fritz-yellow-bright;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.list-view > .virtual-flow > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: -acepe-fritz-yellow-bright;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
	-fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #D4AB00;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.square-button{
    -fx-min-height: 51;
    -fx-pref-width: 51;
    -fx-pref-height: 51;
}

.back-button{
    -fx-min-height: 51;
    -fx-pref-height: 51;
}

.day-button {
    -fx-padding: 10;
    -fx-background-color: -acepe-fritz-red;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.day-button:hover {
    -fx-background-color: derive(-acepe-fritz-red, -10%);
}

.day-button:disabled {
    -fx-background-image: url("rolling.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.day-button:selected {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -15%);
    -fx-background-insets: 0, 2
}

.settings-title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.8);
    -fx-padding: 10;
}

.settings-button {
    -fx-padding: 10;
    -fx-background-color: -acepe-fritz-yellow;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.settings-button > .glyph-icon {
    -fx-fill: rgba(0,0,0,0.4);
}

.settings-button:hover {
    -fx-background-color: derive(-acepe-fritz-yellow, +30%);
}

.settings-button:pressed {
    -fx-background-color: derive(-acepe-fritz-yellow, -10%);
}

.download-button {
    -fx-min-height: 30;
    -fx-padding: 8;
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -10%);
    -fx-background-insets: 0, 1;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.download-button > .glyph-icon {
    -fx-fill: white;
}

.download-button:hover {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -8%);
    -fx-background-insets: 0, 2;
}

.download-button:pressed {
    -fx-background-color: derive(-acepe-fritz-red, -20%), derive(-acepe-fritz-red, -5%);
    -fx-background-insets: 0, 2;
}

.download-progress {
}

.download-progress > .bar {
  -fx-background-color: #ffffff80;
  -fx-background-insets: 0,3,0,13;
}

.download-progress > .track {
  -fx-background-color: transparent;
}

.stream {
    -fx-background-color: -acepe-fritz-yellow;
}

.description {
    -fx-background-color: rgba(0,0,0,0.6);
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: -acepe-fritz-red;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.playlist-title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(0,0,0,0.8);
    -fx-padding: 10;
}

.playlist-stream-title{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -acepe-fritz-red;
    -fx-padding: 10;
}

.playlistlistview {
    -fx-background-color: transparent;
}

.playlistlistview .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.playlistlistview .list-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: -acepe-fritz-red;
    -fx-font-size: 14px;
}


.playlistlistview .scroll-bar:horizontal .track,
.playlistlistview .scroll-bar:vertical .track {
	-fx-background-color: -acepe-fritz-yellow;
}

.playlistlistview .scroll-bar:horizontal .thumb,
.playlistlistview .scroll-bar:vertical .thumb {
    -fx-background-color: #D4AB00;
}

